*{
    padding: 0 0;
    margin: 0 0;
}

header{
    width: 100%;
    display: inline-block;
    /*justify-content: space-between;*/
    background-color: khaki;
    border: 3px  solid black;
    margin: 20px 50px ;
    overflow: auto;
}

.logo{ 
    float: left;
    margin-left: 15px;
    margin-top:  15px;
    margin-bottom: 15px;
}

.title{
    float: left;
    margin-left: 15px;
    margin-top:  15px;
    margin-bottom: 15px;   
}

.menu{
    float: right;
    border: 3px solid black;
}

.menu li{
    list-style: none;
    text-align: center;
    display: inline-block;
    margin-left: 5px;
    margin-top:  6px;
    margin-bottom: 5px;
    margin-right: 5px; 
}

.main{
    margin-left: 50px;
    margin-right: 50px;
    background-color: green;
}

.column{
    float: left;
}

.column.side{
    width:25%;
    background-color: red;
    border: 1px  solid black;
}

.column.mid{
    width: 50%;
    background-color: yellow;
    border: 1px solid black;
}

.column.side li{
    list-style: none;
    text-align: left;
    display: block;
    padding: 5px 5px;
}

.main:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column.side, .column.mid {
        width: 100%;
    }
  }

.pie{
    clear: both;
    text-align: center;
    padding: 20px;
    margin: 0px 0px;
    margin-top: 20px;
    background-color: grey;
}

.pie li{
    list-style: none;
    text-align: center;
    display: inline-block;
    border-right: 1px solid black;
    padding: 0px 7px;
}

.pie li:last-child{
    border-right: none;
}