header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: khaki;
    border: 1px  solid black;
}

.logo{
    order: 1;
}

.title{
    border: 1px  solid black;
    order: 2;
}

.menu{
    order: 3;
    border: 1px solid black;
}

.menu li{
    list-style: none;
    text-align: center;
    display: inline-block;
    border-right: 1px solid black;
}

.menu li:last-child{
    border-right: none;
}